






<div class= "container">
  <div class="booking">


<div class="name">

    <h2>Your entertainer</h2>
      <h3><%= @stripper.name %></h3>

      <%= image_tag "image", class: "stripper-image" %>
  </div>





  <div class="stripinfo">
    <h2>Details</h2>
    <div id="height">
      <%= image_tag("height-icon.png", class: "image-tiny") %><%= @stripper.height %>
    </div>
    <p></p>
    <div id="ethnicity">
      <%= image_tag("ethnicity-icon.png", class: "image-tiny") %><%= @stripper.ethnicity %> caucasian
    </div>
  </div>



  <div class="choice-of-fantasy">
    <%= simple_form_for [@stripper, @booking],  html: { data: { data_provide: "datepicker" } } do |f| %>

      <%= f.input :character, collection:  [ "Policeman", "Firefighter", "Delivery guy","Motz Salesman","Soldier","Professor","Bowling Instructor","Construction Worker", "Santa", "Cab Driver", "Waiter"], prompt: "Cowboy" %>

        <%= f.input :ends_at, label: "Date", as: :string, input_html: {class: " form-control", "data-provide" => "datepicker"}  %>

        <%= f.input :starts_at, label: "Duration (in hours)", collection: [ 1,2,3]  %>


        Total price for <%= @booking.starts_at.value %> hours :
        €<%= 3 * @stripper.price %>
        <p></p>
        <%= f.button :submit, "Confirm", class: "btn btn-danger" %>
        <% end %>
  </div>


<p></p>


<div class="costs">
 <h4>


 </h4>

</div>
</div>



  </div>


