
<div class="wrapper-profile-show-booking">
  <h1>This is your confirmed booking: </h1>
  <br>

  <h3>Your playboy: <span class="details-show-booking"><%= @booking.stripper.name %></span> </h3>
  <h3>Why you chose him: <span class="details-show-booking"><%= @booking.stripper.description.split("*")[0] %></span> </h3>
  <h3>The total price you will pay: <span class="details-show-booking">€<%= @booking.total_price * @booking.duration %></span> </h3>
  <br>
  <br>
  <br>

  <h3 id="meet-up">Where you will meet him:</h3>
        <div class="stripper-booking-show">
          <!-- cloudinary helper should be used -->
          <%= cl_image_tag(@booking.stripper.pics1, width: 330, crop: :fill, class: "image-large") %>
        </div>


  <div
  id="map"
  style="width: 300px;
  height: 200px;"
  data-markers="<%= @markers.to_json %>"
></div>


</div>

