
<div class="wrapper-profile-show-booking">

  <div class="row">

    <div class="col-xs-12 col-sm-3">
      <%= cl_image_tag(@booking.stripper.pics1, width: 330, crop: :fill, class: "image-large show-booking") %>
      <p style="text-align:center; margin-top: 20px; font-style:italic;"><%= @booking.stripper.name %> </p>

    </div>

    <div class="col-xs-12 col-sm-9">
       <h1>Congrations, your booking was successful! </h1>

      <div class="show-bio-details">
        <div class="header"><h3>Your playboy:</h3> </div>
        <div class="header-value"><h3><%= @booking.stripper.name %></h3> </div>
      </div>

      <div class="show-bio-details">
       <div class="header"><h3>Why you chose him:</h3></div>
       <div class="header-value"><h3><%= @booking.stripper.description.split("*")[0] %></h3></div>
     </div>

     <div class="show-bio-details">
       <div class="header"><h3>Total price:</h3> </div>
       <div class="header-value"><h3>€<%= @booking.stripper.price * @booking.duration %></h3> </div>
     </div>

     <div class="show-bio-details">
       <div class="header"><h3>The date:</h3></div>
       <div class="header-value">
         <h3> <%= @booking.date %></h3></div>
       </div>

       <div class="show-bio-details">
         <div class="header"><h3 style="line-height: 164px;">Meeting point:</h3></div>
         <div class="header-value">  <div
          id="map"
          style="width: 523px;;
          height: 164px;"
          data-marker-style=""
          data-markers="<%= @markers.to_json %>"
          ></div>
        </div>


      </div>





    </div>
  </div>

</div>









